<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Byos Securites</title>
</head>
<body>
    <div class="container">
    <div style="text-align: center; font-size: 150%"> 
        <h1>Welcome to Byos Securites</h1>
    </div>
    <div style="width:50%;margin:0 auto;">
        <h1>Employee Name as Table</h1>
        <table>
            <tr>
                <th>CEO</th>
                <td>{{ cname }}</td>
            </tr>
            <tr>
                <th>Software Developers</th>
                <td>{{ sname }}</td>
            </tr>
            <tr>
                <th>Software Engineers</th>
                <td>{{ ename }}</td>
            </tr>
            <tr>
                <th>Marketting</th>
                <td>{{ mname }}</td>
            </tr>
        </table>
    </div>
    <div style="">
            <h1>Employee Lists</h1> 
            <ul class="list-group">
                 <li>{{ cname }}</li>  
                 <li>{{ sname }}</li>   
                 <li>{{ ename }}</li>   
                 <li>{{ mname }}</li>   
                 <li>{{ maname }}</li>                  

            </ul>
    </div>
    </div>
</body>
</html>