<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Byos Securites</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container"> 
            <h1> Please Give the SSID and MAC address:</h1>
        <form method="POST" id="network-send"> 
            {% csrf_token %}
            {{form.as_p}}               
            <input id = "id_ssid" type="submit" class="btn btn-primary" value="Connect" />        
        </form>
    </div>
    
    
</body>

<script>
    $(document).ready(function() {
        $('#network-send').on('submit', function(event){
    event.preventDefault();
    console.log("data submitted!")  // sanity check
    send_data();
});
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
function send_data() {
    var ssid = $('#id_SSID').val();
    var password = $('#id_Password').val();
    console.log(ssid);
    console.log(password);
    console.log("Data is working!") // sanity check
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
    $.ajax({
        url : "/formPage/ ", 
        type : "POST", 
        dataType: "json",
        data :{
                "ssid" : ssid,
                "password" : password,
        }, 
        
        success : function(response) {         
            console.log("success"); 
        },
       
        error : function(response) {
            console.log("error");
           
        }
    });
};
    });
  </script>
</html>